@page "/"
@using BlazorHybridMap.Service
@inject IJSRuntime jS
@inject ILocationService locationService
<input id="search-box" type="search" placeholder="Search for a location" style="width:100%; padding:8px" class="mb-1"/>
<div id="map" style="height:100vh; width:100%"></div>

@code{
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var location = await locationService.GetCurrentLocation();
            await jS.InvokeVoidAsync("initializeMap", location.Lat, location.Lng);
        } 
    }

    async Task ShowRoute() => await jS.InvokeVoidAsync("CalculateRoute");
}
